.container-card{
    display: flex;
    position: relative;
    flex-direction:row;
    margin-top: 10px;
    height: auto;
    align-content: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px 10px;
    top:0;
    transition: all 0.1s ease-in-out;
}

.container-card:hover{
    top:-10px;
}

.card a{
    text-decoration: none;
    background-color: transparent;
}

.card-image{
    width: 100%;
    margin-top: 10px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding:10px;
}


.card-title{
    color:white;
    font-size: 15px;
    width: 80%;
    margin-bottom: .25rem!important;
    font-family: 'Montserrat', sans-serif;
}

.card-data{
    color: white;
    font-size: 12px;
    width: 80%;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 10px;
}

.card-ratings{
    position: absolute;
    right: 7px;
    top: 290px;
    background-color: #212529;
    padding: 5px;
    color: white;
    text-align: center;
    display: block;
    min-width: 35px;
    font-size: .8em;
    border-radius: 50%;
    border: 2px solid #343a40;
}
