.container-movie-unit{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 20px;
    padding-top: 20px;
    opacity: 1;
    width: 80%;
    text-align: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (max-width: 960px) {

    .container-movie-unit{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        margin-left: 20px;
        padding-top: 20px;
        opacity: 1;
        width: 80%;
        text-align: center;
        justify-content: center;
        padding-right: 15px;
        padding-left: 15px;
    }

}

.movie-unit{
    margin-left: 50px;
}

.movie-header-div{
    
}

.movie-header{
    display: flex;
    justify-content: space-between;
}

.movie-title{
    width: 50%;
    color: white;
}

.movie-ratings{
    color: beige;
    margin: 0px;
    flex-grow: 1;
    background-color: transparent;
    padding: 8px;
}

.rating{
    color: white;
    float: right;
    margin: 0px;
    background-color: #212529;
    padding: 10px;
    text-align:right;
    display: block;
    font-size: .8em;
    border-radius: 50%;
    border: 2px solid #343a40;
}

.movie-overview{
    color: white;
    font-size: 15px;
    margin: 60px;
    font-family: 'Montserrat', sans-serif;
}

.movie-genres{
    display: flex;
    justify-content: center;
}

.genre-title{
    flex-wrap: 1;
    font-size: 30px;
    margin: 0px;
    align-self: center;
    color: white;

}

.genre-name{
    padding: 10px;
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    margin: 0px;
}

.genre-name:hover{
    color: blueviolet;
    cursor: default;
}

.movie-recomendation{
    display: flex;
    width:100%;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-self: center;
}
.recomendation-title{
    background-color: transparent;
    font-size: 35px;
    color: white;
    align-self: center;
    font-family: sans-serif;
}
